<mat-card>
    <mat-card-title>Edit item</mat-card-title>
    <mat-card-content>
        <form *ngIf="dataLoaded" [formGroup]="editItemForm" (submit)="updateItem()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName='name'>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="Description" formControlName="description">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Image URL</mat-label>
                    <input matInput placeholder="Image url" formControlName="imageUrl">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input type="number" matInput placeholder="Quantity" formControlName="quantity">
                </mat-form-field>
            </p>

            <p>
                <button mat-raised-button color="primary" [disabled]="!editItemForm.valid">Update</button>
            </p>
        </form>
    </mat-card-content>

</mat-card>